<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Navbar</a>
    </nav>
    <router-view  class="container pt-2"/>
  </div>
</template>

<style>

</style>
