<template>
    <section>
        <h1>Dashboard</h1>
        <h1>{{user.username}}</h1>
         <button @click="logout()" class="btn btn-primary">Logout</button><br>
         <button @click="showForm = !showForm" class="btn btn-info">Toogle Form</button>
        <form v-if="showForm" @submit.prevent="addNote()">
            <div class="form-group">
                <label for="title">Title</label>
                <input v-model="newNote.title"
                type="text"
                class="form-control"
                id="title"
                placeholder="Enter a Title"
                aria-describedby="titleHelp"
                required>
                <small id="title" class="form-text text-muted">Enter a Title</small>
            </div>
            <div class="form-group">
                <label for="descricption">Note</label>
                <textarea
                v-model="newNote.note"
                class="form-control"
                id="example" rows="3"
                placeholder="Enter ur Note" required></textarea>
            </div>
            <button type="submit" class="btn btn-success">Add Note</button>
        </form>
        <section class="row mt-3">
          <div class="col-4"
          v-for="note in notes"
          :key="note._id">


         <div class="card border-info mb-3" >
        <div class="card-header">{{note.title}}</div>
        <div class="card-body">
        <p class="card-text">{{note.note}}></p>
  </div>
</div>
</div>
        </section>
    </section>

</template>

<script>
const API_URL = 'http://localhost:5000/';
export default {
  data: () => ({
    showForm: false,
    user: {},
    newNote: {
      title: '',
      note: '',
    },
    notes: [],
  }),
  mounted() {
    fetch(API_URL, {
      headers: {
        authorization: `Bearer ${localStorage.token}`,
      },
    }).then(res => res.json())
      .then((result) => {
        if (result.user) {
          this.user = result.user;
          this.getNotes();
        } else {
          console.log(result);
          localStorage.removeItem('token');
          this.$router.push('/login');
        }
      });
  },
  methods: {
    getNotes() {
      fetch(`${API_URL}api/v1/notes`, {
        headers: {
          authorization: `Bearer ${localStorage.token}`,
        },
      }).then(res => res.json())
        .then((notes) => {
          this.notes = notes;
          console.log(this.notes);
        });
    },
    logout() {
      localStorage.removeItem('token');
      this.$router.push('/login');
    },
    addNote() {
      fetch(`${API_URL}api/v1/notes`, {
        method: 'post',
        body: JSON.stringify(this.newNote),
        headers: {
          'content-type': 'application/json',
          authorization: `Bearer ${localStorage.token}`,
        },
      }).then(res => res.json()
        .then((note) => {
          this.notes.push(note);
          this.newNote = {
            title: '',
            note: '',
          };
          this.showForm = false;
        }));
    },
  },
};
</script>


<style>

</style>
