<template>
        <section>
            <h1>Login</h1>
            <div v-if="loggingin">
                <img src="../assets/pacman.svg"/>
            </div>
            <div v-if="errorMessage" class="alert alert-danger" role="alert">
                {{ errorMessage }}
            </div>
            <form v-if="!loggingin" @submit.prevent="login()">
            <div class="form-group">
                <label for="username">Username</label>
                <input
                v-model="user.username"
                type="text"
                class="form-control"
                id="username"
                aria-describedby="usernameHelp"
                placeholder="Enter a Username">
                <small small id="usernameHelp" class="form-text text-muted">
                    Bitte geben Sie Ihren Benutzernamen ein.
                </small>
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input
                v-model="user.password"
                type="password"
                class="form-control"
                id="password"
                aria-describedby="passwordHelp"
                placeholder="Enter a Password">
                <small small id="passwordHelp" class="form-text text-muted">
                    Bitte gebe dein Passwort ein.
                </small>
            </div>
             <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </section>
</template>

<script>
import Joi from 'joi';

const LOGIN_URL = 'http://localhost:5000/auth/login';

const schema = Joi.object().keys({
  username: Joi.string()
    .alphanum()
    .min(3)
    .max(30)
    .required(),
  password: Joi.string()
    .min(5)
    .required(),
});
export default {
  data: () => ({
    loggingin: false,
    errorMessage: '',
    user: {
      username: '',
      password: '',
    },
  }),
  methods: {
    login() {
      this.errorMessage = '';
      if (this.validUser()) {
        this.loggingin = true;
        const body = {
          username: this.user.username,
          password: this.user.password,
        };
        fetch(LOGIN_URL, {
          method: 'POST',
          headers: {
            'content-type': 'application/json',
          },
          body: JSON.stringify(body),
        })
          .then((response) => {
            if (response.ok) {
              return response.json();
            }

            return response.json().then((error) => {
              throw new Error(error.message);
            });
          })
          .then((result) => {
            localStorage.token = result.token;
            setTimeout(() => {
              this.loggingin = false;
              this.$router.push('/dashboard');
            }, 1000);
          })
          .catch((error) => {
            this.loggingin = false;
            this.errorMessage = error.message;
          });
      }
    },
    validUser() {
      const result = Joi.validate(this.user, schema);
      if (result.error === null) {
        return true;
      }
      if (result.error.message.includes('username')) {
        this.errorMessage = 'Username is invalid. 😭';
      } else {
        this.errorMessage = 'Passwort entspricht nicht den anforderungen 🐵';
      }

      return false;
    },
  },
};
</script>

<style>
</style>
