<template>
    <section>
        <h1>SignUp</h1>
        <div v-if="signingup">
            <img src="../assets/pacman.svg"/>
        </div>
        <div v-if="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
        </div>
        <form v-if="!signingup" @submit.prevent="signup">
            <div class="form-group">
                <label for="username">Username</label>
                <input
                v-model="user.username"
                type="text"
                class="form-control"
                id="username"
                aria-describedby="usernameHelp"
                placeholder="Enter a Username">
                <small small id="usernameHelp" class="form-text text-muted">
                    Username muss länger als 3 und kürzer als 10 Buchstaben sein.
                    Der Benutzername darf nur Buchstaben und Unterstriche beiinhalten!
                </small>
            </div>
            <div class="form-row">
            <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input
                    v-model="user.password"
                    type="password"
                    class="form-control"
                    aria-describedby="passwordHelp"
                    id="password"
                    placeholder="Password">
                <small small id="passwordHelp" class="form-text text-muted">
                    Das Password muss mindestens 10 Zeichen enthalten.
                </small>
            </div>
            <div class="form-group col-md-6 ">
                <label for="confirmPassword">Password</label>
                <input
                    v-model="user.confirmPassword"
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    placeholder="Password wiederholen">
                <small small id="confirmPasswordHelp" class="form-text text-muted">
                   Die beiden Passwörter müssen übereinander stimmen.
                </small>
            </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
</template>

<script>
import Joi from 'joi';

const SIGNUP_URL = 'http://localhost:5000/auth/signup';

const schema = Joi.object().keys({
  username: Joi.string()
    .alphanum()
    .min(3)
    .regex(/^[a-zA-Z]/)
    .max(30)
    .required(),
  password: Joi.string()
    .min(5)
    .required(),
  confirmPassword: Joi.string()
    .min(5)
    .required(),
});

export default {
  data: () => ({
    signingup: false,
    errorMessage: '',
    user: {
      username: '',
      password: '',
      confirmPassword: '',
    },
  }),
  watch: {
    user: {
      handler() {
        this.errorMessage = '';
      },
      deep: true,
    },
  },
  methods: {
    signup() {
      this.errorMessage = '';
      if (this.validUser()) {
        const body = {
          username: this.user.username,
          password: this.user.password,
        };
        this.signingup = true;
        fetch(SIGNUP_URL, {
          method: 'POST',
          body: JSON.stringify(body),
          headers: {
            'content-type': 'application/json',
          },
        })
          .then((response) => {
            if (response.ok) {
              return response.json();
            }

            return response.json().then((error) => {
              throw new Error(error.message);
            });
          })
          .then((result) => {
            localStorage.token = result.token;
            setTimeout(() => {
              this.signingup = false;
              this.$router.push('/dashboard');
            }, 1000);
          })
          .catch((error) => {
            this.signingup = false;
            this.errorMessage = error.message;
          });
      }
    },
    validUser() {
      if (this.user.password !== this.user.confirmPassword) {
        this.errorMessage = 'Passwörter müssen übereinander stimmen 🐵';
        return false;
      }

      const result = Joi.validate(this.user, schema);
      if (result.error === null) {
        return true;
      }
      if (result.error.message.includes('username')) {
        this.errorMessage = 'Username is invalid. 😭 Bitte benutze nur Buchstaben von A-Z.';
      } else {
        this.errorMessage = 'Passwort entspricht nicht den anforderungen 🐵';
      }

      return false;
    },
  },
};
</script>

<style>
</style>
